/CSD201x-A2/nbproject/private/
CSD201x-A1/CSD201x_Assignment_1_datncfx00499.zip
/CSD201x-A2/build/
/CSD201x-A2/dist/
CSD201x-A2/DATA.txt
CSD201x-A2/CSD201x_Assignment_2_datncfx00499.zip
/CSD201x-A3/nbproject/private/
/CSD201x-A3/build/
